.vs
/home_cooking/img/user/*
/home_cooking/img/recetas/*
/gannis/img/mascotas/*
/gannis/img/usuarios/*
/two_birds/img/portadas/*
/two_birds/img/usuarios/*
/two_birds/vendor/*
/foromilitar/img/ventas/*
/foromilitar/img/usuarios/*