body{
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(../img/fondos/fondoconflictos.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}