body{
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)) ,url(../img/fondos/fondotienda.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
