body{
    margin: 0;
      padding: 0;
      background:url(../img/fondos/fondoarmas.jpg); 
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
  body::before{
    opacity: 0.5;
  }
  .news-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0px;
	margin: 70px;
}