body{
  margin: 0;
    padding: 0;
    background:  url(../img/fondos/misproductos.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.news-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0px;
	margin: 70px;
}
.product-f-image {
    position: relative;
}
.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;overflow: hidden;border: 1px solid #ddd;
}
.product-hover:after {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: -100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;transition: .4s;
}
.product-hover a {
    background: none repeat scroll 0 0 #195004;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 14px;
    left: 10%;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #179b12;
    width: 80%;z-index: 99;transition: .4s;
}
.product-hover a:hover {
  background: #000;
  text-decoration: none;border-color: #444;
}
.product-carousel-price a {
	color: #5a88ca;
	font-weight: 700;
	margin-right: 5px;
	text-decoration: none;
	font-weight: 200;
  }
  .product-hover a i.fa {
	  margin-right: 5px;
  }
  .product-hover a.add-to-cart-link {top: -25%;}
  .product-hover a.view-details-link { bottom: -25%;}
  
  .single-product h2{
	  line-height:40px;
	  font-weight: 500;
      margin-left: 10px;
  }
   .btncard a{
	  margin-left: 10px;
      text-decoration: none;
	  line-height: 50px;
  }
  .single-product p {
	  line-height: 5px;
      margin-left: 10px
  }
  
  .single-product {
	overflow: hidden;
  }
  .single-product:hover .product-hover a.add-to-cart-link {top: 32%;}
  .single-product:hover .product-hover:after{left: 0}
  
  
  .product-carousel {
	padding-top: 40px;
  }